body{
	margin: 0;
	background-color: #b3b3b3;
}

/* div{
	background-color: red; color resaltado e important le prioridad
	font-size: 45px; tamaño de letra

} */
.titule{  /*este es la mejor forma*/
	background-color: blue;
	font-size: 15px auto;
	/*margin: 5px 15px 5px 15px; */
	text-align: center;
	width: 15%;
	margin: auto;
	border: 2px solid black;
	padding: 15px;
	position: center;
}
.box{
	background-color: yellow;
	color: white;
}
.titule h1{
	background-color: green;
	height: 35px;
}
.cabezera{
	background-color: purple;
	height: 150px;
}